/* CAMBIOS DE LA HOJA DE ESTILOS */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
}

/* Esto lo pongo para que se vea un poco más bonito */
header,footer,aside{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    color:black;
}

/* CAMBIO DE HOJA DE IMAGEN DE FONDO */

/* TAREA 1 HEADERS */

/* TODOS LOS SELECTORES TIENEN ESPECIFICIDAD 001 DE ESTA PARTE*/


/* ESPECIFICIDAD 006*/
h1,h2,h3,h4,h5,h6 { 
    text-align: center;
    font-size: 1.4em;
    font-family: "Times New Roman", Times, serif;
    line-height: 1em;
    color:black
}

/* ESPECIFICIDAD 002*/
h1,h6{
    font-weight: bold;
}

/* ESPECIFICIDAD 003*/
h1,h3,h5{
    font-stretch: expanded;
}

/* ESPECIFICIDAD 003*/
h2,h4,h6{
    font-style: italic;
}


/* ESPECIFICIDAD 001*/
h1{
    font-size: 1.6em;
}

/* ESPECIFICIDAD 001*/
h2,h3,h4,h5,{
    font-size: 1.1em;
}

/* 2 TAREA DE DEFINICIÓN BÁSICA DE TEXTO */

/* ESPECIFICIDAD 006*/
p,li,ul,ol,td,th{
    font-family: sans-serif;
    font-size: 1em;
    color: black;
}

/*ESPECIFICIDAD 011*/
p::first-letter {
    font-size: 1.4em;
}

/* ESPECIFICIDAD 001*/
body {
    color: black;
    background-color:  #9EE8DD;
}

/* ESPECIFICIDAD 001*/
body {
    background-size: 100%;
    background-color:white;
}

/* 5 PROPIEDADES DE LOS ENCABEZADOS PERO DE SU CAJA */

/* ESPECIFICIDAD 006*/
h1,h2,h3,h4,h5,h6{
    padding: 0.2em;
	background-color:  #9EE8DD;
    text-align: center;
    text-justify: inter-word;
    text-transform: uppercase;
}

/* 6 PROPIEDADES DE ENLACES */ 

nav{
	text-align: center
}

/* ESPECIFICIDAD 011*/
a:link      {
    color:grey; 
    text-decoration: underline overline dotted turquoise;
   }

   
/* ESPECIFICIDAD 011*/
a:visited   {
    color: black; 
    text-decoration: underline  grey;
   }


/* 7 PROPIEDADES DE LISTAS Y TABLAS USANDO SELECTORES COMBINADOS */
/* ESPECIFICIDAD 001*/
table {
    border: 1px solid black;
    text-align: center;
    padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:0.2em;
	padding-right:0.1em;
	font-size: 1em
}

/* ESPECIFICIDAD 002*/
th {
    color: black;
    font-size: 1.05em
}

/* ESPECIFICIDAD 011*/
tr:hover {
    background-color: #baffe1e7;
}

/* Listas */ 

ul {
    padding: 0.7em;
  }
  
 
  /* Como adecuar elementos multimedia */
  
  video{
      max-width: 100%;
  }

  img{
      max-width: 100%;
  }

  audio{
      max-width: 100%;
  }