/* CAMBIOS DE LA HOJA DE ESTILOS */

body{
	font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", "sans-serif";
	color: #000040;
	background-color: #C0C0C0
}

h1,h2,h3,h4,h5,h6{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em
}

h1{
	font-size:3em
}

nav{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3em;
	color: #0000A3
}

img {
  width: 100%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
  height: auto;
}

video{
  max-width: 100%;
  height: auto;
}
