/* ESTO ES EL LAYOUT */
 
body {
		  margin: 0.2em;
          display: grid;
          grid-gap: 0.5em;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          grid-template-areas:
          "header  header  header"
          "content content sidebar"
          "footer  footer  footer";
      }

main {
    grid-area: content;
    position: relative
  }
  
header {
    grid-area: header
  }
  
footer {
    grid-area: footer;
	text-align: center
  }
  
aside {
	grid-area: sidebar
}
  
header, footer {
    background-color: #baffe1e7;
	border-radius: 0.7em;
	padding: 2em
  }

main, aside{
	background-color: #9ee8dde1;
	border-radius: 0.7em;
	padding: 2em
}